body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #00467f;
  background: -webkit-linear-gradient(to right, #a5cc82, #00467f);
  background: linear-gradient(to right, #a5cc82, #00467f);
}
